.chart-card {
  max-width: 100%;
  @include elevate(2);
  background-color: $white;
  padding: 24px;
  border-radius: 5px;

  &__body {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}