.filter-form{

  &__form {
    background: $accent-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    padding: 4px;
    margin-top: 24px;
  
    > * {
      flex-grow: 1;
      margin-right: 4px;
  
      &:last-child {
        margin-right: 0;
      }

      &.filter-form__limit {
        flex-grow: 0;
        max-width: 150px;
      }
  
      &.limit-switcher {
        flex-grow: 0;
        color: #aaa;
      }
    }
  }
}
