body {
  @include bg-gradient-login-img;

  font-family: 'Open Sans', sans-serif;
}

* {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: none;
  }
}