body {
  background-color: $bg-light-blue;

  font-family: 'Open Sans', sans-serif;
}

* {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: none;
  }
}