.dashboard {
  padding-top: 40px;

  &__top-chart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    margin-top: 48px;

    > * {
      flex-grow: 1;
      
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
}